 #MainContent img
      {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      body
      {
        background-color: #ffffff;
        margin-top:0%;
      }

    /*CSS FOR THE COMPUTER DESKTOP*/
    @media only screen and (min-width: 750px){
      #MainContent img 
      {
        width: 80%;
      }
    }

    /*CSS FOR THE MOBILE PHONE*/
    @media only screen and (max-width: 749px)
    {
      #MainContent img 
        {
          width: 99%;
        }
    }